.blue{
    left: 159px;
    width: 39px;
    height: 39px;
}
.b1{
    top: 380px;
}
.b2{
    top: 479px;
}
.b3{
    top: 578px;
}
.b4{
    top: 677px;
}
.b5{
    top: 775px;
}
.red{
    left: 1725px;
    width: 36px;
    height: 36px;
}
.r1{
    top: 381px;
}
.r2{
    top: 479px;
}
.r3{
    top: 575px;
}
.r4{
    top: 671px;
}
.r5{
    top: 767px;
}
