.blue{
    left: 162px;
    width: 68px;
    height: 68px;
}
.b1{
    top: 369px;
}
.b2{
    top: 466px;
}
.b3{
    top: 563px;
}
.b4{
    top: 660px;
}
.b5{
    top: 757px;
}
.red{
    left: 1692px;
    width: 68px;
    height: 68px;
}
.r1{
    top: 371px;
}
.r2{
    top: 468px;
}
.r3{
    top: 565px;
}
.r4{
    top: 662px;
}
.r5{
    top: 759px;
}
